/*
 *
 * Reset
 * 
 */
* { margin:0; padding:0; border:none; outline:none; list-style:none; }
p { margin:10px 0; }

/*
 *
 * Commons
 * 
 */
.fleft { float:left; }
.fright { float:right; }
.clear { clear:both; }

.spacer { display:block; width:100%; height:40px;  }
.spacer-small { display:block; width:100%; height:20px;  }
.spacer-large { display:block; width:100%; height:60px;  }

.bigger { font-size:1.5em; }

.hr { display:block; width:100%; height:1px; margin:10px 0; border-bottom:dotted 1px #333; }

h1 { margin:20px 0; }
h2 { margin:15px 0; }
h3, h4 { margin:10px 0; }

.ml10 { margin-left:10px; }
.mr10 { margin-right:10px; }
.mt10 { margin-top:10px; }
.mb10 { margin-bottom:10px; }



/*
 *
 * Lists
 *
 */
ol, ol li {
	list-style:decimal;
}
ol li {
	margin-left:20px;
	margin-bottom:10px;
}

ul.point {
	margin-left:20px;
}
ul.point, ul.point li {
	list-style:circle;
}
ul.point li {
	margin-bottom:20px;
}


/*
 *
 * Forms
 *
 */
.field {
	margin-bottom:40px;
	font-size:16px;	
}
.field label {
	display:block;
	margin:0;
	margin-bottom:3px;
	font-weight:bold;
}
.field .input {
	font-size:14px;
	line-height:2em;
}
.field .input .note {
	line-height:1em;
}
.field .input label {
	font-weight:normal;
}
.field .input label.fleft {
	width:75px;
}
.field input.text {
	width:500px;
	font-size:16px;
	padding:2px;
	border:solid 1px #ddd;
	margin:0;
}
.field input.file {
	padding:2px;
	border:solid 1px #ddd;
	margin:0;
}
.field input.title {
	font-size:24px;
}
.field input.color {
	width:100px !important;
}
.field input.address {
	width:15em !important;
	margin-left:5px;
}
.field textarea {
	width:500px;
	height:150px;
	font-size:16px;
	padding:2px;
	border:solid 1px #ddd;
	margin:0;
}
.field .note {
	font-size:12px;
	color:#999;
	margin-top:3px;
}
a.button, button {
	text-decoration:none;
	padding:10px;
	font-size:16px;
	border:solid 1px #333;
	background:#ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor:pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#DDD));
	background: -moz-linear-gradient(top,  #fff,  #eee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd');
}
a.button:active, button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
	background: -moz-linear-gradient(top,  #ddd,  #eee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#eeeeee');
}