/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;	
}

#page {
	width:720px;
	margin:10px auto 40px auto;	
}


.hr {
	border-color:#999;
}

#content h1 {
	margin:40px 0;
	color:#333;	
	font-size:36px;	
}	
#content h2 {
	font-size:18px;
	color:#333;
}

#content .col {
	float:left;
	width:345px;
	padding:5px;
	background:#fff;
}


/*
 *
 * COMMENTS
 *
 */
#comments iframe {
	padding:0 !important;
	margin:0 !important;	
}
	
#comments, #loading {
	background:#fff;
	padding:5px;
}	
	
#loading {
	line-height:1.5em;
}
	
body.dark #comments, body.dark #loading, body.dark #comments .col {
	background:#000;
	color:#eee;
}




/*
 *
 * TWEET
 *
 */
.opinion .tweet {
	width:592px;
	margin:0 auto;
}

.opinion .tweet h1 {
	font-size:36px;
	font-weight:normal;
	text-align:left;
	margin: 40px 0 20px 0;
}

.opinion .tweet textarea {
	font-size:14px;	
	padding:5px;
	border:solid 1px #ddd;
	width:400px;
	height:50px;
	float:left;
	margin-right:5px;
}

.opinion .tweet input {
	width:175px;
	float:left;
	display:block;
	margin:0;
	padding:0;
}

.opinion .button {
	margin-top:20px;
}

.opinion .button button {
	background:#ECF6FA;
	border:solid 1px #0099CC;
	font-size:20px;
	padding:10px;
	cursor:pointer;
	width:200px;
	margin:0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.tweets {
	width:550px;
	margin:60px auto 20px auto;	
	padding-top:20px;
	border-top:dotted 1px #ddd;
	font-size:12px;
}

/*
 *
 * FOOTER
 *
 */
#footer {
	position:fixed;
	padding:0;
	bottom:0px;
	right:0px;
	width:100%;
	height:30px;
	background:#333 !important;
	font-family:Arial, Helvetica, sans-serif !important;
}

#footer .links {
	float:right;
	margin:7px 20px 0 0;
}

#footer, #footer a {
	color:#eee;
}

#footer:hover, #footer:hover a {
	color:#eee;
}

#footer h1 {
	font-size:14px;
	margin:0;
	padding:0;
	position:relative;
	top:7px;
	margin-left:10px;
	letter-spacing:1px;
	
}

#footer .like {
	float:left;
	margin-top:5px;
	margin-left:30px;
}

#footer h1 a {
	color:#eee;
	text-decoration:none;
}