/* CSS Document */

body {
	font-family:Arial;	
}

a { color:#000; }
.hr { border-bottom-style:solid; border-bottom-color:#666; margin:1px; }
#content .hr { border-bottom-style:dotted; border-bottom-color:#ddd; margin:20px 0; }

#page {
	width:960px;
	margin:10px auto 40px auto;	
}

#slogan {
	float:left;
}

#slogan h1 {
	font-size:24px;
	margin:10px 0;
	float:left;
	font-weight:normal;
}
#slogan a {
	color:#000;
	text-decoration:none;
}

#slogan h2 {
	font-size:18px;
	font-weight:normal;
	float:left;
	margin-left:20px;
	margin-top:0px;
	color:#666;
}
#slogan h2 a {
	color:#666;
}

#menu {
	float:right;
	margin-top:10px;
}

#menu li {
	display:inline;
	margin-left:30px;
	font-size:14px;
}

#footer {
	font-size:12px;
	margin-top:5px;
}

#content {
	clear:both;
	color:#333;
}
#content h1 {
	color:#333;
	font-size:50px;
	font-weight:normal;
	margin-bottom:20px;
}
#content h2 {
	color:#333;
	text-transform:uppercase;
	font-size:30px;
	margin-bottom:20px;
	font-weight:normal;
}
#content div.left {
	float:left;
	width:590px;
}
#content div.right {
	float:right;
	width:350px;
}

ul.point {
	margin-left:20px;
}

ul.point, ul.point li {
	list-style:circle;
}

ul.point li {
	margin-bottom:20px;
}

.mission {
	font-size:18px;
}

a.advanced {
	padding-left:20px;
	background:url(/statics/icons/arrow_sans_right_16.png) no-repeat;
}

div.advanced {
	margin-top:20px;
}