@font-face {
  font-family: 'The Girl Next Door';
  font-style: normal;
  font-weight: normal;
  src: local('The Girl Next Door'), local('TheGirlNextDoor'), url('http://themes.googleusercontent.com/font?kit=cWRA4JVGeEcHGcPl5hmX7p-yoK3Kl6E6RmvAncM23y8') format('woff');
}
